/* Global config */

* {
    font-family: Roboto;
}

.page-content {
    margin: 20px;
    padding: 0;
}

/* Navigation formatting */
.nav ul {
    margin: 10;
}

.nav li {
    display: inline;
}

.nav a {
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.322);
}

.main-nav {
    font-size: 1.1em;
    font-weight: lighter;
}

.main-nav li {
    padding: 0 3%;
}

/* Flexbox formatting */

.flexbox-container {
    display: flex;
    height: 60px;
    background-color: #232f38;
    justify-content: space-between;
    align-items: center;
}

.flexbox-item {
    height: 90%;
    margin: 8px;
    /* border: 3px solid #4c87b4; */
}

/* Logo container */
.logo {
    display: flex;
    object-fit: contain;
}

/* Links container */
.flexbox-item-2 {
    background-color: #232f38;
    flex-grow: 0.3;
}

.page-content {
    margin: 2em;
}

.content-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-weight: normal;
    text-align: center;
    font-size: 2em;
}